<div class="navbar-wrapper">
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon personalized-container">
    <%= link_to "", class: "navbar-brand" do %>
      <%= image_tag "icon.png" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to "Le projet", "/#projet", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Où trouver nos bières", "/#points-de-vente", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Ils parlent de nous !", "/#actualités", class: "nav-link" %>
        </li>
      </ul>
    </div>
  </div>
</div>
