<div class="personalized-container" id="actualités">
  <h1>Ils parlent de nous !</h1>
  <%= link_to "https://www.franceinter.fr/emissions/l-esprit-d-initiative/l-esprit-d-initiative-27-janvier-2020" do %>
    <div class="card-product">
      <img src="<%= asset_path "france-inter-logo.png" %>" />
      <div class="card-product-infos">
        <h2>La bière du boulanger</h2>
        <p>Émission L'esprit d'initiave - 27 janvier 2020</p>
      </div>
    </div>
  <% end %>
  <%= link_to "https://www.lefigaro.fr/conso/amiens-contre-le-gaspillage-un-jeune-entrepreneur-brasse-sa-biere-a-partir-d-invendus-de-pain-20200127" do %>
    <div class="card-product">
      <img src="<%= asset_path "le-figaro-logo.png" %>" />
      <div class="card-product-infos">
        <h2>Amiens : contre le gaspillage, un jeune entrepreneur brasse sa bière à partir d’invendus de pain</h2>
        <p>Le Figaro Économie - 27 janvier 2020</p>
      </div>
    </div>
  <% end %>
  <%= link_to "https://premium.courrier-picard.fr/id56592/article/2019-12-16/il-transforme-le-pain-en-biere-amiens" do %>
    <div class="card-product">
      <img src="<%= asset_path "courrier-picard-logo.png" %>" />
      <div class="card-product-infos">
        <h2>Il transforme le pain en bière à Amiens</h2>
        <p>Courrier Picard - 16 décembre 2019</p>
      </div>
    </div>
  <% end %>
  <%= link_to "https://www.calameo.com/read/001202835e391f4dab064" do %>
    <div class="card-product">
      <img src="<%= asset_path "jda-logo.png" %>" />
      <div class="card-product-infos">
        <h2>À la Machinerie, leurs projets prennent vie</h2>
        <p>Journal d'Amiens et d'Amiens Métropole n°917 - 26 juin / 2 juillet 2019</p>
      </div>
    </div>
  <% end %>
</div>
