<%= render 'shared/navbar' %>
<%= render 'shared/banner' %>

<!-- <div class="personalized-container" id="projet">
  <div class="part-title"><h1>Le projet</h1></div>
  <div class="part-description"><p>GASPER est une marque de bière au pain pour lutter contre le gaspillage alimentaire. Elle est brassée avec les invendus de pain de vos boulangeries et restaurants locaux.</p></div>
  <div class="cards">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path "pain-card_optimized.jpg" %>);">
      <h1>1000</h1>
      <p>Baguettes sauvées du gaspillage alimentaire</p>
    </div>
    <div id="sold-beers" class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path "banner_photo_optimized.jpg" %>);">
      <h1>1000</h1>
      <p>Bières vendues</p>
    </div>
  </div>
</div> -->

<div class="personalized-container">
  <div id="first-inside-box">
    <div id="figure-one-third"><span style="color:blue">1/3 </span></div>
    <div id="explained-text-figure">de la production mondiale est <span style="color:blue">gaspillée.</span></div>
  </div>
  <div id="second-inside-box">
    En France, près de <span style="color:blue">300 000</span> tonnes de pain sont <span style="color:blue">gaspillées</span> chaque année.
  </div>
</div>

<div class="personalized-container">
  <div id="first-inside-box">
    <div id="figure-one-third"><span style="color:blue">1/3 </span></div>
    <div id="explained-text-figure">de la production mondiale est <span style="color:blue">gaspillée.</span></div>
  </div>
  <div id="second-inside-box">
    En France, près de <span style="color:blue">300 000</span> tonnes de pain sont <span style="color:blue">gaspillées</span> chaque année.
  </div>
</div>

<div class="personalized-container" id="points-de-vente">
  <div class="part-title"><h1>Où trouver nos bières</h1></div>
  <div
    id="map"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
</div>

<%= render 'shared/news' %>

<%= render 'shared/footer' %>
